* {
  box-sizing: border-box;
}

/* * {
  outline: 1px solid blue;
} */

body {
  width: 1090px;
  margin:  auto;
}

#create-user-form {
  display: flex;
  flex-direction: column;
}

#create-user-form input {
  height: 50px;
  margin-bottom: 25px;
}

nav {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.red {
  color: red;
}