<h1>Start creating tests!</h1>
<p class="red"><%= @errors  %></p>
<h2>Sign up</h2>
<form id="create-user-form" action="/users" method="post">
  First Name:
  <input type="text" name="user[first_name]" value="">

  Last Name:
  <input type="text" name="user[last_name]" value="">

  Institution:
  <input type="text" name="user[institution]" value="">

  Email:
  <input type="text" name="user[email]" value="">

  Password:
  <input type="text" name="user[password]" value="">

  Confirm Password:
  <input type="text" name="user[password_confirmation]" value="">

  Are you a student of teacher?
  <input type="radio" name="user[user_type]" value="Teacher">Teacher
  <input type="radio" name="user[user_type]" value="Student">Student

  <input type="submit" name="" value="Register!">
</form>
