<h1>Register for Graded</h1>

<form action="users/create" method="post">
  First Name:
  <input type="text" name="user[first_name]" value="">
  Last Name:
  <input type="text" name="user[last_name]" value="">
  Institution:
  <input type="text" name="user[institution]" value="">
  Email:
  <input type="text" name="user[email]" value="">
  Password:
  <input type="text" name="user[password]" value="">
  Confirm Password:
  <input type="text" name="confirmed_password" value="">

  <input type="radio" name="user_type">Teacher

  <input type="radio" name="user_type">Student

  <input type="submit" name="" value="Register!">
</form>